/* --------------------------- */
/* BASIC SETUP */
/* --------------------------- */

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #555;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://i.imgur.com/q2UDBbp.jpg");
    background-attachment: fixed;
    text-rendering: optimizeLegibility;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

/* --------------------------- */
/* SCROLL BAR */
/* --------------------------- */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(85, 85, 85, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #555;
}

/* --------------------------- */
/* BUTTONS */
/* --------------------------- */

.btn {
    display: block;
    background-color: #b64539;
    border-color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    color: rgb(238, 238, 238);
    cursor: pointer;
    font-size: 60%;
    margin: 10px 14px 0 0;
    padding: 5px 22px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    outline: none !important;
    transition: background-color 400ms ease;
}

.btn:hover,
.btn:active {
    background-color: rgba(182, 39, 23, 0.8);
}

.back-btn {
    background-color: rgba(182, 39, 23, 0.5);
}

.update-btn {
    margin-top: 10px;
    background-color: rgba(204, 198, 198, 0.1);
    display: inline-block;
}

.top-btn {
    color: rgb(129, 124, 124);
    border-radius: 10px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px 0 5px;
    height: 40px;
    width: 30px;
    font-size: 80%;
    background-color: rgba(62, 62, 62, 0.5);
    outline: none !important;
    transition: all 300ms ease-in-out;
}

.top-btn:hover {
    color: rgb(238, 238, 238);
    background-color: rgba(62, 62, 62, 0.7);
}

/* --------------------------- */
/* ICONS */
/* --------------------------- */

.icon {
    font-size: 150%;
    color: rgb(191, 191, 191);
    transition: all 100ms ease-in-out;
}

.icon:hover {
    padding-left: 5px;
    color: rgb(230, 230, 230);
}

/* --------------------------- */
/* NAV-MENU */
/* --------------------------- */

nav {
    display: block;
    width: 55px;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    border-right: 1px solid transparent;
    transition: all 200ms ease-in-out;
}

nav:hover {
    background-color: rgba(34, 34, 34, 1);
    padding-left: 10px;
    transition-delay: 100ms;
    width: 220px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

nav .nav-items {
    list-style: none;
    line-height: 2;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

nav .nav-items li {
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 10px;
    margin-bottom: 15px;
    position: relative;
}

nav .nav-items li span {
    color: rgba(191, 191, 191, 0.8);
    position: absolute;
    white-space: nowrap;
    top: 22px;
    left: 55px;
    font-weight: 700;
    font-size: 55%;
    text-transform: capitalize;
    transition: all 100ms ease-in-out;
}

nav .nav-items li span:hover {
    color: rgb(230, 230, 230);
}

/* --------------------------- */
/* USER-PANEL */
/* --------------------------- */

header {}

.user-panel {
    margin: 0 15px;
    top: 0;
    right: 0;
    position: fixed;
}

.user-panel ul {
    list-style: none;
}

.user-panel ul li {
    float: left;
    padding: 15px;
    font-size: 85%;
    line-height: 0;
}

.user-info {
    color: #fff;
    margin-top: 3px;
    width: auto;
    height: 5px;
    font-weight: 700;
    font-size: 60%;
}

.user-logout {
    font-size: 50%;
    height: 25px;
    padding: 3px 10px;
    margin-top: -9px;
}

/* --------------------------- */
/* SEARCH BAR */
/* --------------------------- */

.search-bar {
    margin-left: 33px;
    margin-top: 17px;
}

.search-bar input {
    background: #fff;
    border: 1px solid #cccccc;
    color: #000000;
    font-size: 55%;
    line-height: 1.2em;
    margin-bottom: 15px;
    border-radius: 15px;
    outline: none !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    padding: 15px;
    height: 10px;
    width: 20%;
    opacity: 0.7;
    transition: width 150ms ease-in-out, opacity 350ms linear;
}

.search-bar input:focus {
    width: 40%;
    opacity: 0.9;
    transition: width 300ms ease-in-out, opacity 350ms linear;
}

/* ---------- REACT ---------- */

/* --------------------------- */
/* CONTAINER */
/* --------------------------- */

.container {
    margin-left: 15%;
    width: 75%;
}

/* --------------------------- */
/* ALL MOVIES-LIST */
/* --------------------------- */

.movie-details {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, 100px);
}

.movies-list-div {
    
}

.movies-list {
/*
    list-style: none;
    width: 100%;
*/
    display: block;
    width: 100%;
}

.movie-item {
    display: inline-block;
/*    width: 100%;*/
    background: #555;
    margin: 0;
    overflow: hidden;
}

.movie-item img {
    opacity: 0.6;
    height: 400px;
    width: 180px;
    object-position: center;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, opacity 0.8s linear;
}

.movie-item img:hover,
.movie-item img:active {
    opacity: 1;
    transform: scale(1.15);
}

/* --------------------------- */
/* TRAILER - LEFT UP */
/* --------------------------- */

.trailer-div {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    border-radius: 10px;
    overflow: hidden;
}

.trailer-div iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* --------------------------- */
/* POSTER - RIGHT UP->DOWN */
/* --------------------------- */

.poster-div {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

.poster-div img {
    border-radius: 3px;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

/* --------------------------- */
/* LIKE/DISLIKE - LEFT MIDDLE */
/* --------------------------- */

.like-dislike-details {
    padding: 10px;
    margin-left: 10px;
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.like-dislike-details span {
    font-size: 70%;
    font-weight: 700;
    color: rgba(182, 69, 57, 0.7);
    margin-right: 15px;
    padding: 10px;
}

.like-dislike-icon,
.like-dislike-icon {
    color: rgba(182, 69, 57, 0.05);
    font-size: 200%;
    cursor: pointer;
    /*    margin: 15px;*/
    -webkit-text-stroke-color: #b64539;
    -webkit-text-stroke-width: 1px;
    transition: all 100ms linear;
}

.like-dislike-icon:hover,
.like-dislike-icon:active {
    color: #b64539;
    -webkit-text-stroke-width: 0;
    /*    font-size: 350%;*/
}

.like-dislike-icon.clicked {
    transition: all 300ms ease;
    color: #b64539;
    -webkit-text-stroke-width: 0;
    /*    font-size: 350%;*/
}

.like-dislike-icon.clicked span {
    transition: all 300ms ease;
    color: rgba(182, 69, 57, 1);
}

/* --------------------------- */
/* REVIEWS */
/* --------------------------- */

/* --- TEXT AREA & INPUTS --- */

textarea,
.review-item {
    white-space: pre-wrap;
    background: #fff;
    border: 1px solid #cccccc;
    color: #000000;
    font-size: 55%;
    border-radius: 4px;
    outline: none !important;
    resize: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
    width: 40%;
    height: 70px;
    opacity: 0.8;
    transition: width 150ms ease-in-out, opacity 250ms linear;
}

textarea:focus {
/*
    white-space: normal;
    word-break: break-all;
*/
    opacity: 0.9;
    width: 45%;
    border-color: #ccc;
    outline: none !important;
    transition: width 300ms ease-in-out, opacity 250ms linear;
}

.movie-reviews {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

/*
.no-reviews {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}
*/

.all-reviews {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.post-review {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.all-reviews ul {
    list-style: none;
    padding-inline-start: 0;
}

.review-item {
    padding: 10px;
    height: 50px;
    width: 87%;
    opacity: 0.7;
    text-transform: capitalize;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    transition: all 300ms ease;
}

.review-item:hover,
.review-item:active {
    overflow-y: scroll;
}

.review-item::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(85, 85, 85, 0);
}

.review-item::-webkit-scrollbar-thumb {
    background: #555;
}

/* --------------------------- */
/* LOADING LABEL */
/* --------------------------- */

.loading {
    display: inline-block;
    margin: 0 auto;
}

.loading span {
    font-size: 170%;
    font-weight: 300;
    letter-spacing: 5px;
    word-spacing: 3px;
    color: rgba(255, 255, 255, 0.7);
}

/* --------------------------- */
/* NO REVIEWS LABEL */
/* --------------------------- */

/*
.no-reviews {
    display: inline;
    margin: 0 auto;
}
*/

.no-reviews span {
    font-size: 80%;
    font-weight: 300;
    letter-spacing: 3px;
    word-spacing: 3px;
    color: rgba(255, 255, 255, 0.7);
}

/*////////////////////////////////////////*/

/*
.latest-showcase {
    list-style: none;
    width: 100%;
}

.latest-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.latest-reviews-text {
    width: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
    color: rgba(0, 0, 0, 0.57);
    font-size: 80%;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
}
*/

/* --------------------------- */
/* PAGINATION */
/* --------------------------- */

.page-numbers {}

.page-numbers a:link,
.page-numbers a:visited {
    font-size: 140%;
    font-weight: 300;
    text-decoration: none;
    color: rgba(182, 69, 57, 0.8);
    margin: 50px;
    transition: all 100ms linear;
}

.page-numbers a:hover,
.page-numbers a:active {
    font-weight: 700;
    color: rgba(182, 69, 57, 1);
    padding: 3px 0;
    border-top: 1px solid rgba(182, 69, 57, 0.7);
    border-bottom: 1px solid rgba(182, 69, 57, 0.7);
}

.post-review .page-numbers a:link, 
.post-review .page-numbers a:visited{
    font-size: 90%;
    margin-left: 0;
    margin-right: 20px;
}